@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.bar-banner {
    $root: &;
    background: var.$primary-color;
    margin-top: 8rem;

    @include mix.respond-to(pc) {
        margin-top: 16rem;
    }

    #{$root} {
        &__inner {
            padding: 2.8rem 1.6rem;
            text-align: center;

            @include mix.respond-to(pc) {
                position: relative;
                text-align: left;
                padding: 5rem 7.6%;
                margin: 0 auto;
                max-width: 160rem;
            }

            @media (min-width: 1600px) {
                padding: 5rem 0;
            }
        }

        &__title {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.4;
            color: var.$white-color;

            @include mix.respond-to(pc) {
                display: block;
                max-width: 74%;
                font-size: 3.4rem;
            }
        }

        &__desc {
            margin-top: 0.4rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.46;
            color: var.$sub-white-color;

            @include mix.respond-to(pc) {
                margin-top: 0.8rem;
                max-width: 73%;
                font-size: 2.4rem;
            }
        }

    }

    .round-arrow-link {
        margin-top: 1.6rem;

        @include mix.respond-to(pc) {
            margin-top: 0;
            @include mix.position(absolute, $top: 50%, $right: 7.6%);
            transform: translateY(-50%);
        }

        @media (min-width: 1600px) {
            right: 0;
        }
    }
}