mixin accordion(items, animationMode=false)
    .accordion(data-js="accordion")
        each item in items
            .accordion__item(data-js="accordionItem", data-animation=animationMode)
                button.accordion__head(type="button", aria-label="open", data-js="accordionButton")
                    span.accordion__title= item.title
                .accordion__content(data-js="accordionContent")
                    p.accordion__desc= item.content
