extends ./layout/layout
include ./components/subIntro.pug
include ./components/tab.pug
include ./components/barBanner.pug
include ./mixin/valueItem.pug

block content

	main.sub.privacy.pb-0
		.sub__common-intro 
			h1.sub__common-title Privacy Policy​
		.content-section
			.content-wrap
				div.content-box
					h2.content-title InBody Privacy Policy
					p.content-desc InBody (hereinafter, “the Company”) complies with personal information protection regulations; and does its best to protect the rights of users by establishing privacy policies for its body composition analysis system, InBody, and its websites LookinBody Web, inbodyasia.com and InBody Mobile Application (collectively, “Web Services”).
					p.content-desc It is not mandatory for users to provide their personal information and the user has the right to withhold their consent to the collection of their personal information. However, by opting not to provide personal information, certain features may not be available to users, the user’s experience may be negatively affected, and users may not be able to receive support services from the Company.

				
				div.content-box
					h2.content-title InBody’s Privacy Policy covers the following matters:
					ul.content-desc
						li 1.Types of Personal Information Collected and Methods of Collection
						li 2.Collection of Personal Information and Purpose of Use
						li 3.Sharing and Provision of Personal Information
						li 4.Consigned Handling of Personal Information
						li 5.Retention and Usage Periods of Personal Information
						li 6.Procedure and Methods of Destruction of Personal Information
						li 7.Rights of Users and Legal Attorneys and Methods of Exercising the Rights
						li 8.Matters Concerning Installation/Operation of Automatic Personal Information Collecting Mechanism and Refusal Thereof
						li 9.Technical/Administrative Measures for Protection of Personal Information
						li 10.Personal Information Manager and Officers
						li 11.Duty of Notification
				
				div.content-box
					h2.content-title 1. Types of Personal Information Collected and Methods of Collection
					h3.content-subtitle A. Types of Personal Information Collected
					.content-desc 
						strong.text-title (I) LookinBody Web
						p With regards to LookinBody Web, the Company processes the following personal information of users:
						strong.text-title Personal Information
						ul 
							li •Name;
							li •Email address;
							li •Address and zip code;
							li •Mobile number;
							li •Company name;
							li •Height;
							li •Weight;
							li •Age;
							li •Gender;
							li •Date of birth; and
							li •Other forms of personal data while rendering additional or customized services to users, which users have consented to providing to the Company.
						strong.text-title Sensitive Personal Information
						div The Company also processes sensitive personal data of users, as set out below: <br>•Body composition analysis results <br> •Medical history <br>Users provide their explicit consent to the processing of their sensitive personal data, with the understanding that the provision of the above sensitive personal data is necessary<br>for the Company to provide the body composition analysis service.
							strong.text-title (II) inbodyasia.com
							p With regards to inbodyasia.com, the Company processes the following personal information of users: 
							strong.text-title Personal Information
							ul 
								li •Name;
								li •Email address;
								li •Phone number; and
								li •Mobile number;
								li •Any other personal information disclosed by users in the “Contact Us” page of inbodyasia.com. 


block bottomScripts
	script(src="../js/main.js")