extends ./layout/layout
include ./components/subTitle.pug
include ./components/productVisual.pug
include ./components/iconListContent.pug
include ./components/video.pug
include ./components/imgTextColumn.pug
include ./components/barBanner.pug
include ./components/videoRow.pug
include ./components/imgTextRow.pug
include ./components/tableRow.pug

block content

    main.sub.product
        +productVisual('InBody 770','Ultimate Body Composition Analyser', 'Download Brochure', 'inbody-770', '../files/770_brochure.pdf')
            p.sub-paragraph The research-grade InBody 770 goes beyond traditional body composition analysis and takes a deeper look into body water. This model offers two types of results sheets: body composition and body water. With this research-grade body composition analyser, you can measure body composition easily and quickly.

        section  
            .inner-box 
                +subTitle('What’s different about the InBody 770?','','', 'slideInLeft')
                +iconListContent('', [
                    { iconClass: 'tests', subTitle: '60 Second Tests', desc: 'Quickly measure fat mass, muscle mass, and body water levels. No dunking. No pinching. No discomfort. Simply stand on the device and hold the hand electrodes.' },
                    { iconClass: 'touchscreen', subTitle: 'No Estimations', desc: 'Only impedance is used to determine your body composition results; no empirical estimations such as gender and age are used or required to predict your body composition.' },
                    { iconClass: 'cloud', subTitle: 'Cloud Software', desc: 'Automatically save all the data from InBody units to Lookin’Body Web, InBody’s cloud database management system. Easily view and manage client’s results and see their progress anytime, anywhere.' }
                ], 'slideUpMulti')

        section.video-row  
            .inner-box 
                +subTitle('See how businesses utilise the InBody','','', 'slideInLeft')
                    p.sub-paragraph(data-animation="slideInLeft") Watch testimony videos of how doctors, fitness professionals, and health experts alike have used InBody to validate their programs and increase member retention.
                +videoRow([
                    {videoSrc: 'https://www.youtube.com/embed/eHEV15Os7ic', subTitle: 'InBody Spotlight: Dr. Anna Hoo talks about why she uses Body Phase Angle for better treatment plan.'},
                    {videoSrc: 'https://www.youtube.com/embed/bcZZlo7p8y4', subTitle: 'InBody Spotlight - Dr. Adrienne Youdim'}
                ], 'slideUp')

        section  
            .inner-box 
                +imgTextRow('../img/product/770_result_sheet.png','product-sheet', true, 'slideInRight')
                    .img-text-row__content.img-text-list
                        +subTitle('Explore the InBody 770 Result Sheet', '', '', 'slideInLeft')
                            p.sub-title__desc(data-animation="slideInLeft") Each InBody Test will print out a full-page results sheet detailing the muscle, fat, and water values of the user. The InBody 770 provides the most extensive analysis of the body out of the InBody line.
                        ul.img-text-list__content(data-animation="slideInLeft")
                            li.img-text-list__item
                                h3.sub__content-title Research Outputs
                                p.sub-paragraph Use Whole Body Phase Angle and Segmental Phase Angle to determine the integrity of a user’s cells. This output is ideal for rehabilitation and disease management in the medical field.
                            li.img-text-list__item
                                h3.sub__content-title Body Water Result Sheet
                                p.sub-paragraph Understand Body Water Composition and Segmental Body Water Analysis to monitor trends and detect unusual shifts in fluid distribution that can result from injury, aging, obesity, and other health factors.

        +barBanner('Explore the InBody 770 Result Sheet','Want to know how to use this data in practice?','Learn More', '', 'slideInRight')

        section  
            .inner-box 
                +subTitle('InBody Cloud', '', '', 'slideInLeft')
                +imgTextColumn([
                    { itemClass: '', imgSrc: '../img/product/cloud_01.jpg', subTitle: 'InBody App', desc: 'You and your customers can use the InBody App to easily view and monitor body composition data. It gives users a clear overview of their health status. Furthermore, it shows all detailed contents interms of parameters provided through the InBody test. With the InBody App your body composition data is just one tap away.' },
                    { itemClass: '', imgSrc: '../img/product/cloud_02.jpg', subTitle: 'Lookin’Body Web', desc: 'This unique platform was designed for professionals who work with people. It stores and views data of your customers and gives you the opportunity to set goals with them, create groups(e.g., 12-week fat loss group), and set up internal challenges amongst your members. In addition, it is the perfect cloud-based tool to help you promote your business through data. Showcase your customers’ success like muscle gain or fat loss through the data kept in Lookin’BodyWeb.' },
                ], 'slideUp')


        +tableRow('Product Specifications', [
            { key01: 'Dimensions', value01: '526 × 854 × 1175 (L x W x H): mm', key02: 'Frequencies', value02: '1, 5, 50, 250, 500, 1000 kHz'},
            { key01: 'Test Duration', value01: '60 seconds', key02: 'Weight Range', value02: '10 – 270 kg'},
            { key01: 'Age Range', value01: '3-99 years ', key02: 'Height Range', value02: '95 – 220 cm'},
            { key01: 'Equipment Weight', value01: '38 kg', key02: 'Database', value02: '100,000 results (if member ID is utilized)'},
            { key01: 'Accessories', value01: 'Body Composition Result Sheet, Body Water Result Sheet (Optional), USB Thumb Drive, InBody Tissue', key02: 'Warranty', value02: '1 Year Manufacturer’s Warranty'},
            { key01: 'Compatible Printers', value01: 'Laser/Inkjet PCL 3 or above and SPL', key02: 'Measurements', value02: '30 impedance measurements, 6 frequencies at each of the 5 segments (Right Arm, Left Arm, Trunk, Right Leg, Left Leg)'},
            { key01: 'Additional Features', value01: 'EMR Integration (HL7 Ready), Barcode Scanner Integration, Lookin’Body 120 and Lookin’Body Web Compatible, Touchscreen, Voice Guidance System, Wi-Fi/Bluetooth Connectivity, Security Access Code'},
            { key01: 'Outputs', value01: 'Standard Outputs : <br> Weight, Total Body Water, Soft Lean Mass, Fat Free Mass, Body Fat Mass, Skeletal Muscle Mass, Body Mass Index, Percent Body Fat, InBody Score, Segmental Lean Analysis, Body Composition History, Body Fat-Lean Body Mass Control, Basal Metabolic Rate, Impedance at each segment/ frequency<br><br>Additional Outputs :<br>Intracellular Water, Extracellular Water, ECW/TBW Analysis, Visceral Fat Level, Segmental Fat Analysis, Visceral Fat Area, Segmental Body Water Analysis, Segmental ECW/TBW Analysis, Segmental ICW Analysis, Segmental ECW Analysis, Leg Lean Mass, TBW/LBM, Reactance, Whole Body and Segmental Phase Angle'}
        ])